html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  background-color: rgba(255, 255, 255, 0.384);
  margin-left: 15vh;
  margin-right: 55vh;
  margin: 5vh 5vh;
  height: 90vh;
  width: 30vh;
  position: absolute;
  z-index: 5;
}
h1 {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 2.5rem;
  transform: translateY(20vh);
  text-align: center;
}
.navigation {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 2rem;
  display: block;
}
.ham {
  display: none;
}
.mobile-navigation {
  display: none;
}
li {
  list-style-type: none;
  font-style: normal;
  margin-left: 10px;
  transform: translateY(23vh);
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: black;
}
li a.current {
  color: rgb(255, 205, 68);
  font-size: 2rem;
  font-style: italic;
}
.block {
  position: relative;
  display: flex;
  justify-content: left;
  width: 30vw;
  height: 80vh;
  margin-bottom: 0;
  transform-origin: right top;
  transform: rotate(90deg) translateY(-30%);
}
.block img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.block-1 {
  margin-top: 50vw;
}
.container {
  width: 100vh;
  height: 100vw;
  margin-left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transform: rotate(-90deg);
  transform-origin: right top;
  transform: rotate(-90deg) translateY(-100vh) translateX(5%);
}
.container::-webkit-scrollbar {
  display: none;
}
.fa-bars {
  display: none;
}
.mobile-menu {
  display: none;
}

@media only screen and (max-width: 375px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
  .sidebar {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
    position: relative;
  }
  .navigation {
    margin: 0;
    display: none;
    z-index: -5;
  }
  h1 {
    font-family: "Cormorant", serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    transform: translate(-10%, 50%);
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 315vh;
    width: 100%;
    margin-left: 0;
    overflow-y: scroll;
    overflow-x: auto;
    transform-origin: 0;
    transform: rotate(0) translateY(0);
  }
  .block {
    display: block;
    width: 40vw;
    margin-top: 0;
    margin-bottom: 5vh;
    height: auto;
    position: relative;
    display: flex;
    transform-origin: none;
    transform: rotate(0deg) translateY(0%);
    justify-content: center;
    min-width: 375px;
  }
  .block-1 {
    margin-left: 0;
  }
  .fa-bars {
    display: block;
  }
  .ham {
    display: block;
    position: sticky;
    z-index: 10;
    transform: translate(80vw, -40%);
  }
  .mobile-navigation {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: block;
    font-family: "Cormorant", serif;
    font-weight: 600;
    font-size: 2rem;
    position: sticky;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.2s;
  }
  .mobile-navigation li {
    width: 30vw;
    margin-left: 35vw;
  }
  .showMenu {
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1580px) {
  body {
    overflow: hidden;
    overflow-y: scroll;
  }
  .sidebar {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 100vw;
    position: relative;
  }
  .navigation {
    margin: 0;
    display: none;
    z-index: -5;
  }
  h1 {
    font-family: "Cormorant", serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    transform: translate(-10%, 50%);
    position: relative;
  }
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 315vh;
    width: 100%;
    margin-left: 0;
    overflow-y: scroll;
    overflow-x: auto;
    transform-origin: 0;
    transform: rotate(0) translateY(0);
  }
  .block {
    display: block;
    width: 40vw;
    margin-top: 0;
    margin-bottom: 5vh;
    height: auto;
    position: relative;
    display: flex;
    transform-origin: none;
    transform: rotate(0deg) translateY(0%);
    justify-content: center;
    min-width: 375px;
  }
  .block-1 {
    margin-left: 0;
  }
  .fa-bars {
    display: block;
  }
  .ham {
    display: block;
    position: sticky;
    z-index: 10;
    transform: translate(80vw, -40%);
  }
  .mobile-navigation {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: block;
    font-family: "Cormorant", serif;
    font-weight: 600;
    font-size: 2rem;
    position: sticky;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-100%);
    transition: transform 0.2s;
  }
  .mobile-navigation li {
    width: 30vw;
    margin-left: 35vw;
  }
  .showMenu {
    transform: translateY(0);
  }
}
