html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sidebar {
  background-color: rgba(255, 255, 255, 0.384);
  margin-left: 15vh;
  margin-right: 55vh;
  margin: 5vh 5vh;
  height: 90vh;
  width: 30vh;
  position: absolute;
  z-index: 5;
}
h1 {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 2.5rem;
  transform: translateY(20vh);
  text-align: center;
}
.navigation {
  font-family: "Cormorant", serif;
  font-weight: 600;
  font-size: 2rem;
}
li {
  list-style-type: none;
  font-style: normal;
  margin-left: 10px;
  transform: translateY(23vh);
  text-decoration: none;
}
li a {
  text-decoration: none;
  color: black;
}
li a.current {
  color: rgb(255, 205, 68);
  font-size: 2rem;
  font-style: italic;
}
.block {
  position: relative;
  width: 580px;
  height: 460px;
  margin-left: 10vh;
  height: 90vh;
}
.block-1 {
  background: url(/images/img1.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-left: 500px;
}
.block-2 {
  background: url(/images/img2.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block-3 {
  background: url(/images/img3.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block-4 {
  background: url(/images/img4.jpg) no-repeat 50% 50%;
  background-size: cover;
  background-position: 43%;
}
.block-5 {
  background: url(/images/img5.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block-6 {
  background: url(/images/img6.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block-7 {
  background: url(/images/img7.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.block-8 {
  background: url(/images/img8.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block-9 {
  background: url(/images/img9.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.block-10 {
  background: url(/images/img10.JPG) no-repeat 50% 50%;
  background-size: cover;
}
.container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: fit-content;
  height: 90vh;
  display: flex;
  z-index: 1;
}
